<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <h1>home page</h1>
    <button id="test">submit</button>
    <header class="">
      <div class="logoContainer">
        <img
          class="logo"
          src="https://login.ufl.edu/idp/img/logo-uf.svg"
          alt=""
          srcset=""
        />
      </div>
      <span class="titleText">ONE.UF</span>
      <span class="titleText">calender</span>
      <span class="titleText">offices& services</span>
      <span class="titleText">dierectory</span>
      <span class="titleText">giving</span>
      <span class="titleText">up health</span>
      <span class="titleText">uf ifas</span>
      <span class="right">
        <span class="welcomeLink">Welcom to UF</span>
        <span class="search"
          ><span class="material-symbols-outlined"> search </span></span
        >
      </span>
    </header>
    <div>
        <div>image will be here with logo</div>
        <div>change password</div>
        <div>forgot password</div>
        <div>create account</div>
        <div>trouble signing on?</div>
    </div>
    <div>
        <div> username <input type="text" name="username" id="username" placeholder="username"></div>
        <div> password <input type="password" name="password" id="password" placeholder="password"></div>
        <button id="loginBth"> LOGIN </button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      const loginBth = document.getElementById("loginBth");
      loginBth.addEventListener("click", async (e) => {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        console.log(username);
        const res = await axios({
          method: "post",
          url: "/post/new",
          data: {
            email: "no email here",
            password: password,
            name: username,
          },
        });
        console.log(res);
      });
    </script>

    <style>
      
    </style>
  </body>
</html>
